.carte {
    width: 12em;
    height: 15em;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 8px 2px black;
    align-items: center;
    justify-content: center;
    margin-block: 1em;
    border-radius: 15px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.21) 99.99%, rgba(255, 255, 255, 0.5) 100%);
    background-color: lightsteelblue;
    animation: fade 1s ease-in-out;
    transition-duration: 0.4s;

    .carte__title {
        text-align: center;
    }

    .carte__cover {
        width: 75%;
        height: 7em;
        object-fit: contain;
    }
}

.carte:hover {
    transform: scale(1.1);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}