.bloc {
    display: flex;
    justify-content: center;

    .fiche {
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center;
        font-family: kanit;

        .fiche__complete {
            display: flex;
            gap: 1em;
            justify-content: center;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            background-color: #c4e7f9;
    border-radius: 15px;
    width: 75%;

            .fiche__cover {
                width: 55%;
            }

            .fiche__technologies {
                display: flex;
                gap: 6em;

                .techno {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        height: 6em;
                    }
                }
                }

                p {
                    text-align: center;
                    width: 65%;
                    gap: 1%;
                }
            }

            .fiche__images {
                width: 85%;
                padding-block: 1em;
                
                div {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 1em;
                    align-items: flex-start;

                img {
                    width: 30%;
                }
            }
            }

            aside {
                display: flex;
                flex-direction: column;
            align-items: center;
            background-color: #c4e7f9;
    border-radius: 15px;
    width: 25%;
    padding-inline: 2%;

    ul {
        padding-inline-start: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
                    }
        }

        .fiche__selecteur {

            ul {
                display: flex;
                list-style-type: none;
                padding-inline-start: 0;
                background-color: darkgrey;
                border-radius: 5px;
                height: 2em;
                align-items: center;

                li {
                    display: flex;
                    width: 6em;
                    justify-content: center;
                    height: 100%;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                    }

                }
            }
        }
    }
}

.actif {
    box-shadow: 0px 0px 5px 3px #524d4d inset;
}

.desc {
    border-radius: 5px 0px 0px 5px;
}

.img {
    border-radius: 0px 5px 5px 0px;
}