footer {
    width: 100%;
    height: 10em;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: kanit;
    color: white;
    justify-items: center;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .reseaux {
            display: flex;
            gap: 2em;
        }

        div {

            a {
                color: white;
            }

            img {
                height: 3em;
                width: 3em;
                filter: invert(1);
            }
        }
    }

}

@media (max-width: 767px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        section {
            gap: 30%;
            width: 85%;
            flex-direction: row;
            align-items: center;

            .reseaux {
                gap: 1.5em;
            }

            .droits {
                font-size: 0.8em;
            }

            div {
                display: flex;

                img {
                    height: 2em;
                    width: 2em;
                }
            }
        }
    }
}