header {
    height: 18em;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: kanit;
background: linear-gradient(180deg, #ffffff 0%, rgb(122, 146, 184) 50%);
        border-bottom: 10px solid black;
        padding-inline: 2%;
        padding-bottom: 1em;

    .title {
        display: flex;
        margin-inline: 1em;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            height: 5em;
        }
    }

    h2 {
        text-align: center;
        margin-block: 2em;
        font-family: monospace;
    }

        
    
}

@media (max-width: 767px){
    header {

        height: 12em;

        .title{

        h1
{
    font-size: 1.2em;
} 
 

    img {
        height: 3em;
    }
}

h2 {
    font-size: 1.3em;
}  
    }
}