header {
    height: 14em;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logoAndMenu {
        display: flex;
        flex-direction: column;
        gap: 4em;

        img {
            height: 5em;
        }
    }
}