.navMenu {
    width: 28px;
}

.navMenu > span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 9999px;
    background-color: black;

  
}
.navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}

.navMenu, .navMenu > span {
    transition: all 0.5s ease-in-out;
}


.navMenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);

}

.navMenu.active > span:nth-child(2){
    opacity: 0;
}
    
    .navMenu.active > span:nth-child(1),
    .navMenu.active > span:nth-child(3) {
        transition-delay: 0.5s;
    }
    
    .navMenu.active > span:nth-child(1) {
        transform: translateY(9px);
    }
    
    .navMenu.active > span:nth-child(3) {
        transform: translateY(-9px) rotate(90deg);
    }

