.blocp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2%;

    .presentation {
        font-family: kanit;
        margin-block: 3em;
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        article {
            display: flex;
            background-color: #c4e7f9;
            align-items: center;
            padding: 2em;
            border-radius: 15px;


            img {
                height: 12em;
                width: 11em;
                border-radius: 20%;
                transform: translateX(-110px);
                border: 5px solid white;
            }

            p {
                font-size: 1.5em;
                transform: translateX(-30px);

                span {
                    font-weight: bold;
                }
            }

        }

        aside {
            display: flex;
            background-color: #c4e7f9;
            align-items: center;
            padding: 2em;
            border-radius: 15px;
            flex-direction: column;
            gap: 1.5em;

            .technos {
                display: flex;
                flex-direction: column;
                gap: 1.3em;
                width: 90%;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        color: white;
                        background-color: black;
                        border-radius: 10px;
                        transform: translateX(-50px);
                        width: 25%;
                        text-align: center;
                    }

                    ul {
                        display: flex;
                        gap: 12%;
                        width: 75%;
                        padding-inline-start: 0;
                        justify-content: center;

                        li {
                            display: flex;
                            width: 6em;
                            height: 6em;
                            list-style-type: none;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-end;

                            img {
                                width: 5em;
                                height: 4.5em;
                            }

                            h5 {
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width : 1024px) {
    .blocp {

        .presentation {

            article {

                p {
                    font-size: 1.2em;
                }
            }

            aside {

                .technos {

                    div {

                        h4 {
                            font-size: 0.8em;
                        }

                        ul {
                            justify-content: flex-start;

                            li {

                                width: 5em;
                                height: 5em;

                                img {

                                    width: 4em;
                                    height: 3.5em;

                                }

                                h5 {
                                    font-size: 0.7em;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 767px) {
    .blocp {

        .presentation {
            gap: 0;
            width: 95%;

            article {
                flex-direction: column;
                padding: 0;
                padding-inline: 5%;
                margin-block: 2em;

                img {
                    transform: translateX(0) translateY(-75px);
                    border-radius: 50%;
                    height: 9em;
                    width: 9em;
                }

                p {
                    font-size: 1em;
                    transform: translateX(0) translateY(-60px);
                    text-align: center;
                }
            }

            aside {
                padding: 0;

                .technos {
                    gap: 0;

                    div {
                        flex-direction: column;
                        margin-block-start: 0.5em;

                        h4 {
                            font-size: 0.9em;
                            margin-block-start: 0;
                            margin-block-end: 0.5em;
                            transform: translateX(0);
                            width:"";
                            padding-inline: 3%;
                        }

                        ul {
                            width: 90%;
                            justify-content: center;
                            gap: 8%;
                            margin-block-end: 0;

                            li {

                                width: 5em;
                                height: 5em;

                                img {

                                    width: 3.6em;
                                    height: 3.2em;

                                }

                                h5 {
                                    font-size: 0.6em;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

.frontend,
.backend {
    border-bottom: 1px solid black;
}