.blocpage {

    display: flex;
    justify-content: center;

    .travaux {
        display: flex;
        flex-direction: column;
        font-family: kanit;
        align-items: center;
        width: 85%;

        .filtres {
            display: flex;
            list-style-type: none;
            gap: 2%;
            justify-content: center;
            flex-wrap: wrap;
            padding-inline-start: 0;

            li {
                border: 4px solid;
                border-radius: 10px;
                padding-inline: 1%;
                color: steelblue;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 9em;
                height: 2em;
                margin-block: 5px;
                transition-duration: 0.4s;

                &:hover {
                    background-color: steelblue;
                    cursor: pointer;
                    color: white;
                }
            }
        }

        

        .travaux__cartes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3%;
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.21) 99.99%, rgba(255, 255, 255, 0.5) 100%);
            background-color: steelblue;
            border-radius: 15px;
            padding-block: 2em;
            width: 85%;
        }
    
    }
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 1024px){
    .carte {
        width: 10em;
        height: 12em;

        .carte__cover {
            height: 5.5em;
        }
    }
}

@media (max-width: 767px){
    .blocpage {
    .travaux {
width: 90%;

.filtres {

    li {
        font-size: 0.85em;
        font-weight: 500;
        width: 9em;
    }
}
    
    .carte {

        .carte__cover {
            height: 4.5em;
        }
    }
}
    }
}